{% extends "base.html.twig" %}


    {% block additionnalcss %}
        <link rel="stylesheet" href="{{ asset('assets/calendar/calendar.css') }}">
    {% endblock %}

    {% block additionnaljs %}
        <script rel="stylesheet" src="{{ asset('assets/calendar/calendar.js') }}"></script>
    {% endblock %}


{% block mainpage  %}


    <div class="ui breadcrumb" style="margin-top: 10px; margin-bottom: 20px">
        <a class="section" href="{{ path('homepage') }}">Acceuil</a>
        <div class="divider"> / </div>
        <div class="section active">RAPPORT</div>
        <div class="divider"> / </div>
        <div class="active section">Ajouter</div>
    </div>

    <div class="ui medium header">Ajouter un rapport</div>

    <div class="divider"></div>

    {% for message in app.session.flashbag.get('create_rap') %}
        <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">
                Le rapport a été cree avec success
            </div>
        </div>
    {% endfor %}

    <div class="ui grid">
        <div class="eleven wide column">
            {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
            {#<div class="field">#}
                {#<label> {{ form_label(form.siglePar, "Sigle du partenaire", {'label_attr': {'class': 'validate'}}) }}</label>#}
                {#{{ form_widget(form.siglePar, {'attr': {'class': 'validate'}}) }}#}
                {#{% if form_errors(form.siglePar) %}#}
                    {#<div class="ui pointing red basic label">#}
                        {#{{ form_errors(form.siglePar) }}#}
                    {#</div>#}
                {#{% endif %}#}
            {#</div>#}

            <div class="field">
                <div class="ui grid">
                    <div class="six wide column">

                        <div class="ui calendar " id="example1">
                            <div class="ui field">
                                <label>Date de rapport</label>
                                <input id="cal" name="date" type="text" placeholder="Date" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label> {{ form_label(form.organisme, "Organisme", {'label_attr': {'class': 'validate'}}) }}</label>
                {{ form_widget(form.organisme, {'attr': {'class': 'validate'}}) }}
                {% if form_errors(form.organisme) %}
                    <div class="ui pointing red basic label">
                        {{ form_errors(form.organisme) }}
                    </div>
                {% endif %}
            </div>

            <div class="field">
                <label> {{ form_label(form.activite, "activite", {'label_attr': {'class': 'validate'}}) }}</label>
                {{ form_widget(form.activite, {'attr': {'class': 'validate'}}) }}
                {% if form_errors(form.activite) %}
                    <div class="ui pointing red basic label">
                        {{ form_errors(form.activite) }}
                    </div>
                {% endif %}
            </div>


            <div class="field">
                <label> {{ form_label(form.file, "fichier", {'label_attr': {'class': 'validate'}}) }}</label>
                {{ form_widget(form.file, {'attr': {'class': 'validate'}}) }}
                {% if form_errors(form.file) %}
                    <div class="ui pointing red basic label">
                        {{ form_errors(form.file) }}
                    </div>
                {% endif %}
            </div>

            {{ form_widget(form.Ajouter, {'attr': {'class': 'ui button'}}) }}

            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#example1').calendar({
                monthFirst: false,
                type: 'date',
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        return day + '-' + month + '-' + year;
                    }
                }
            });
        })
    </script>


{% endblock %}

